#### This notebook will be used for the Assignment of week3 of capstone course for Applied Data Science on Coursera

#### Author: Rajiv Ranjan Singh

In [129]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [130]:
# creating url for scraping data
data_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data_url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#### Using pandas to read table from wikipedia page

In [131]:
df=pd.read_html(data_url)

#### Extracting dataframe from the scraped data

In [132]:
df = df[0]
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### Getting the column names to check extracted dataframe

In [133]:
df.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

#### Inspecting the number of rows and columns in df

In [134]:
df.shape

(288, 3)

In [135]:
print( "The number of rows with Borough value being Not Assigned : \n" , (df['Borough']=='Not assigned').value_counts()[1])

The number of rows with Borough value being Not Assigned :
 77

In [136]:
# assign df to values with Borough not being 'Not assigned'
df = df[df['Borough']!='Not assigned']

#### Inspecting the number of rows and columns in df to ensure rows with Not assigned Borough values have been dropped

In [137]:
df.shape

(211, 3)

#### Assign Borough name to neighbourhoods with 'Not assigned' value

In [138]:
df.loc[df['Neighbourhood']=='Not assigned','Neighbourhood'] = df.loc[df['Neighbourhood']=='Not assigned','Borough']

#### Defining Function that will take unique 'Borough' values and join neighbourhood values sperated by a comma on groupby Dataframe object

In [139]:
def f(x):
    return pd.Series(dict(Borough = x['Borough'].unique()[0],
                       Neighbourhood = "%s" % ','.join(x['Neighbourhood'])))

In [140]:
df = df.groupby(by='Postcode').apply(f).reset_index()

In [141]:
print( "The cleaned dataframe has ",df.shape[0], "rows and ", df.shape[1], " columns.")

The cleaned dataframe has  103 rows and  3  columns.

In [142]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae