#### This notebook will be used for the Assignment of week3 of capstone course for Applied Data Science on Coursera

#### Author: Rajiv Ranjan Singh

1. [Assignment Part1](#assign_part1)

2. [Assignment Part2](#assign_part2)

<a id='assign_part1'></a>

## Assignment Part 1

In [21]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [22]:
# creating url for scraping data
data_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data_url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#### Using pandas to read table from wikipedia page

In [23]:
df=pd.read_html(data_url)

#### Extracting dataframe from the scraped data

In [24]:
df = df[0]
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### Getting the column names to check extracted dataframe

In [25]:
df.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

#### Changing column name 'Postcode' to 'PostalCode' as per assignment requirement

In [26]:
df.rename(columns = {'Postcode':'PostalCode'},inplace = True)
df.columns

Index(['PostalCode', 'Borough', 'Neighbourhood'], dtype='object')

#### Inspecting the number of rows and columns in df

In [27]:
df.shape

(288, 3)

In [28]:
print( "The number of rows with Borough value being Not Assigned : \n" , (df['Borough']=='Not assigned').value_counts()[1])

The number of rows with Borough value being Not Assigned :
 77

In [29]:
# assign df to values with Borough not being 'Not assigned'
df = df[df['Borough']!='Not assigned']

#### Inspecting the number of rows and columns in df to ensure rows with Not assigned Borough values have been dropped

In [30]:
df.shape

(211, 3)

#### Assign Borough name to neighbourhoods with 'Not assigned' value

In [31]:
df.loc[df['Neighbourhood']=='Not assigned','Neighbourhood'] = df.loc[df['Neighbourhood']=='Not assigned','Borough']

#### Defining Function that will take unique 'Borough' values and join neighbourhood values sperated by a comma on groupby Dataframe object

In [32]:
def f(x):
    return pd.Series(dict(Borough = x['Borough'].unique()[0],
                       Neighbourhood = "%s" % ','.join(x['Neighbourhood'])))

In [33]:
df = df.groupby(by='PostalCode').apply(f).reset_index()

In [34]:
print( "The cleaned dataframe has ",df.shape[0], "rows and ", df.shape[1], " columns.")

The cleaned dataframe has  103 rows and  3  columns.

In [35]:
df.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

<a id = 'assign_part2'></a>

## Assignment Part 2

### Use the Geocoder package or the csv file ( https://cocl.us/Geospatial_data) to create the  dataframe with lat and long:

<img src="files/image.jpg">

In [36]:
# fetchin csv file from the link provided in assignment
url = 'https://cocl.us/Geospatial_data'
df_ll = pd.read_csv(url)
df_ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Rename Postal Code column to 'Postcode' to match column name with neighbourhood dataframe df

In [37]:
df_ll.rename(columns = {'Postal Code':'PostalCode'},inplace=True)
df_ll.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Merge df_ll to right of neighbourhood dataframe df using Postcode column as index

In [38]:
df = df.merge(right = df_ll,how = 'left', on = 'PostalCode')
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### Changing column name from "Postcode" to "PostalCode" to match with dataframe required by assignment

In [39]:
df.rename(columns = {'Postcode':'PostalCode'},inplace=True)
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476